<p>
ID: <%= user.id %><br/>
Username: <%= user.username %><br/>
Name: <%= user.displayName %><br/>
<% if (user.emails) { %>
Email: <%= user.emails[0] %><br/>
<% } %>
</p>
<a href="/auth/logout">Log out</a>